* {
	z-index: 100;
}

body {
	font-family: 'Merienda', cursive;
	font-size: 2em;
	background-image: url('../img/background.jpg');
	background-size: cover;
}


#content {
	margin-top: 100px;
	background: #999;
	box-shadow: 2px 3px 3px #2df;
	padding-bottom: 10px;
}

#quote {
	background: #f5ecf5;
	font-size: 1.6em;
	text-align: center;
	width: 100%;
	min-height: 200px;
	border: 2px solid #9690c7;
	border-radius: 5px;
	padding-top: 30px;
}

.twitter-share-button {
	float: right;
	
}

.link {
	padding-left: 10px;
}

.icons {
	margin-top: 25px;
}